{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Airline</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/app.css' %}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link text-secondary" href="{% url 'index' %}"> Home </a>
            </li>

            <li class="nav-item ">
                <a class="nav-link text-secondary" href="{% url 'list_flight' %}"> Flights </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-secondary" href="#">About Us</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-secondary" href="{% url 'list_booking' %}">Bookings</a>
            </li>
        </ul>
    </div>
</nav>
{% block content %}

{% endblock %}
    <script src="{% static 'app/jQuery/jquery.js' %}"></script>
    <script src="{% static 'app/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'app/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'app/jQuery/jquery.validate.min.js' %}"></script>
    <script src="{% static 'app/jQuery/aircraft.js' %}"></script>
</body>
</html>