{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Airline</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/app.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link text-light active" href="{% url 'index' %}"> Home </a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link text-secondary" href="{% url 'list_flight' %}"> Flights </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-secondary" href="#">About Us</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-secondary" href="{% url 'list_booking' %}">Bookings</a>
                </li>
            </ul>
        </div>
    </nav>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-6 mt-5">
                    <div class="card">
                        <div class="card-header shadow-sm">
                            <h4 class="card-title text-dark">
                                Search for a flight of your choice
                            </h4>

                        </div>

                            <div class="card-body">
                                <form method="post" id="" action="{% url 'index' %}">
                                    {% csrf_token %}
                                    <div id="notify"></div>
                                        <div class="form-row">
                                            <div class="form-group col-6">
                                                <label for="take_off_location" class="form-check-label">Leaving From</label>
                                                <input name="take_off_location" class="form-control"
                                                       value="{{ flight.take_off_location }}" id="take_off_location">
                                            </div>

                                            <div class="form-group col-6">
                                                <label for="destination" class="form-check-label">Going To</label>
                                                <input name="destination" class="form-control"
                                                       value="{{ flight.destination }}" id="destination">
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-6">
                                                <label for="departure_date" class="form-check-label">Date of Departure</label>
                                                <input name="departure_date" class="form-control"
                                                       value="{{ flight.departure_date }}" id="departure_date" type="date">
                                            </div>
                                        </div>

                                    <div>
                                        <input type="submit" class="button btn btn-primary text-light"
                                               value="Submit">
                                    </div>

                                </form>
                            </div>
                        <div class="card-footer text-center">
                            <footer>&copy; Airline </footer>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

<script src="{% static 'app/jQuery/jquery.js' %}"></script>
<script src="{% static 'app/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'app/js/bootstrap.min.js' %}"></script>
<script src="{% static 'app/jQuery/jquery.validate.min.js' %}"></script>
<script src="{% static 'app/jQuery/aircraft.js' %}"></script>
</body>
</html>